:root {
    --space-small: 10px;
    --space-medium: 20px;
    --space-large: 30px;
    --background-gif: url(Resources/background-image.gif);
    --tertiary-color: #002233;
    --secondary-color: #00506f;
    --tertiary-color: #17a7c6;
}

@font-face {
    font-family: HomeVideo;
    src: url(Resources/HomeVideo.ttf) format("truetype");
}

@keyframes neonAnim {
    from {
        text-shadow:
            0 0 17px var(--tertiary-color),
            0 0 47px var(--tertiary-color),
            0 0 107px var(--tertiary-color);
    }

    to {
        text-shadow:
            0 0 12px var(--tertiary-color),
            0 0 27px var(--tertiary-color),
            0 0 67px rgba(--tertiary-color);
    }
}

@media (max-width:1272px) {
    body {overflow: auto !important;
    height: auto !important;}
}


body {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-gif) no-repeat scroll;
    background-size: cover;
    font-size: 50px;
    color: white;
    font-family: HomeVideo, 'Courier New', Courier, monospace;
}

.form-card {
    display: inline-block;
    font-size: 0px;
    padding-left: var(--space-medium);
    padding-right: var(--space-medium);
    padding-top: var(--space-large);
    padding-bottom: var(--space-large);
    height: max-content;
    width: min(500px);
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
}

fieldset {
    font-size: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.neon {
    animation: neonAnim 2s alternate-reverse infinite;
    color: #c8c8c8;
}

h1 {
    margin-block-start: 0px;
    font-size: 3.5rem;
    white-space: nowrap;
}

form {
    width: 100%;
}

form input {
    color: white;
    font-size: 1rem;
    padding: var(--space-small);
    width: 60%;
    background: none;
    border: none;
    border-left: 2px solid var(--tertiary-color);
    border-right: 2px solid var(--tertiary-color);
    border-radius: 10px;
}

.buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: var(--space-large);
}

form button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: var(--tertiary-color);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
}

button:hover {
    cursor: pointer;
}

button:active {
    opacity: 80%;
}

button[type="submit"] {
    margin-left: var(--space-small);
}

form>fieldset>label {
    font-size: 20px;
}

label:nth-of-type(1n + 2) {
    margin-top: var(--space-large);
}

sup {
    color: red;
    margin-left: 3px;
    position: relative;
    top: 4px;
}

p:first-of-type {
    margin-top: var(--space-large);
    color: #ad18de;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

input:active {
    border: 2px solid var(--secondary-color);
    color: red;
}